Base de modulos y funciones.

In [1]:
import pandas as pd
import re
import string
import numpy as np


def standardise_column_names(df, remove_punct=True):
    """ Converts all DataFrame column names to lower case replacing
    whitespace of any length with a single underscore. Can also strip
    all punctuation from column names.

    Parameters
    ----------
    df: pandas.DataFrame
        DataFrame with non-standardised column names.
    remove_punct: bool (default True)
        If True will remove all punctuation from column names.

    Returns
    -------
    df: pandas.DataFrame
        DataFrame with standardised column names.
    Example
    -------
    >>> df = pd.DataFrame({'Column With Spaces': [1,2,3,4,5],
                           'Column-With-Hyphens&Others/': [6,7,8,9,10],
                           'Too    Many Spaces': [11,12,13,14,15],
                           })
    >>> df = standardise_column_names(df)
    >>> print(df.columns)
    Index(['column_with_spaces',
           'column_with_hyphens_others',
           'too_many_spaces'], dtype='object')
    """

    translator = str.maketrans(string.punctuation, ' ' * len(string.punctuation))

    for c in df.columns:
        c_mod = c.lower()
        if remove_punct:
            c_mod = c_mod.translate(translator)
        c_mod = '_'.join(c_mod.split(' '))
        if c_mod[-1] == '_':
            c_mod = c_mod[:-1]
        c_mod = re.sub(r'\_+', '_', c_mod)
        df.rename({c: c_mod}, inplace=True, axis=1)
    return df

In [2]:
# Leemos el archivo
df = pd.read_csv('crucero_1.csv', header=1)

In [3]:
# Eliminamos filas y columnas vacias
df = df.dropna(axis=0, how='all')
df = df.dropna(axis=1, how='all')

In [4]:
# Cambiamos formato fecha
df['yyyy-mm-ddThh:mm:ss.sss'] = df['yyyy-mm-ddThh:mm:ss.sss'].apply(pd.to_datetime)

In [5]:
# Rellenamos vacios con datos de filas superiores
df = df.fillna(method='ffill')

In [6]:
# Arreglamos los nombres de las columnas
df = standardise_column_names(df)
print(df)

             cruise  station type yyyy_mm_ddthh_mm_ss_sss  \
0      Crucero 2016     37.0    C     2016-10-25 12:10:00
1      Crucero 2016     37.0    C     2016-10-25 12:10:00
2      Crucero 2016     37.0    C     2016-10-25 12:10:00
3      Crucero 2016     37.0    C     2016-10-25 12:10:00
4      Crucero 2016     37.0    C     2016-10-25 12:10:00
...             ...      ...  ...                     ...
25098  Crucero 2018     25.0    C     2018-07-23 21:53:00
25099  Crucero 2018     25.0    C     2018-07-23 21:53:00
25100  Crucero 2018     25.0    C     2018-07-23 21:53:00
25101  Crucero 2018     25.0    C     2018-07-23 21:53:00
25102  Crucero 2018     25.0    C     2018-07-23 21:53:00

       longitude_degrees_east  latitude_degrees_north  bot_depth_m ship  \
0                    73.05760                46.17430        270.0   A1
1                    73.05760                46.17430        270.0   A1
2                    73.05760                46.17430        270.0   A1
3                    73.05760                46.17430        270.0   A1
4                    73.05760                46.17430        270.0   A1
...                       ...                     ...          ...  ...
25098                73.44286                46.43094        310.0   A1
25099                73.44286                46.43094        310.0   A1
25100                73.44286                46.43094        310.0   A1
25101                73.44286                46.43094        310.0   A1
25102                73.44286                46.43094        310.0   A1

       depth_m  fluorescence_wet_labs_eco_afl_fl_mg_m_3  \
0        0.497                                      0.0
1        1.010                                      0.0
2        1.516                                      0.0
3        2.012                                      0.0
4        2.523                                      0.0
...        ...                                      ...
25098  298.000                                      0.0
25099  298.500                                      0.0
25100  299.000                                      0.0
25101  299.500                                      0.0
25102  300.000                                      0.0

       dissolved_oxygen_ml_l  temperature_deg_c  salinity_practical_psu
0                    6.88523             7.3546                 30.7609
1                    6.90105             7.2775                 30.6860
2                    6.90176             7.2760                 30.6708
3                    6.90315             7.2617                 30.6780
4                    6.90701             7.2311                 30.6943
...                      ...                ...                     ...
25098                6.71186             7.7706                 33.2114
25099                6.71206             7.7694                 33.2115
25100                6.71197             7.7698                 33.2114
25101                6.71229             7.7673                 33.2123
25102                6.71302             7.7637                 33.2131

[25100 rows x 13 columns]

In [7]:
# Agrupamos por las variables del viaje en id y creamos df2 sin variables de las mediciones.
df["id"] = df.groupby(df[['cruise', 'ship', 'station', 'yyyy_mm_ddthh_mm_ss_sss',
                          'longitude_degrees_east', 'latitude_degrees_north', 'bot_depth_m']]
                      .apply(frozenset, axis=1)).ngroup()

df2 = df.drop(['depth_m', 'fluorescence_wet_labs_eco_afl_fl_mg_m_3',
               'dissolved_oxygen_ml_l', 'temperature_deg_c', 'salinity_practical_psu'],
              axis=1)
print(df2)

             cruise  station type yyyy_mm_ddthh_mm_ss_sss  \
0      Crucero 2016     37.0    C     2016-10-25 12:10:00
1      Crucero 2016     37.0    C     2016-10-25 12:10:00
2      Crucero 2016     37.0    C     2016-10-25 12:10:00
3      Crucero 2016     37.0    C     2016-10-25 12:10:00
4      Crucero 2016     37.0    C     2016-10-25 12:10:00
...             ...      ...  ...                     ...
25098  Crucero 2018     25.0    C     2018-07-23 21:53:00
25099  Crucero 2018     25.0    C     2018-07-23 21:53:00
25100  Crucero 2018     25.0    C     2018-07-23 21:53:00
25101  Crucero 2018     25.0    C     2018-07-23 21:53:00
25102  Crucero 2018     25.0    C     2018-07-23 21:53:00

       longitude_degrees_east  latitude_degrees_north  bot_depth_m ship  id
0                    73.05760                46.17430        270.0   A1   0
1                    73.05760                46.17430        270.0   A1   0
2                    73.05760                46.17430        270.0   A1   0
3                    73.05760                46.17430        270.0   A1   0
4                    73.05760                46.17430        270.0   A1   0
...                       ...                     ...          ...  ...  ..
25098                73.44286                46.43094        310.0   A1  58
25099                73.44286                46.43094        310.0   A1  58
25100                73.44286                46.43094        310.0   A1  58
25101                73.44286                46.43094        310.0   A1  58
25102                73.44286                46.43094        310.0   A1  58

[25100 rows x 9 columns]

In [8]:
# Creamos df3 con variables de las mediciones y con id que linkea tablas en formato 1 a muchos
# donde 1 es en df2
df3 = df.drop(['cruise', 'ship', 'station', 'type', 'yyyy_mm_ddthh_mm_ss_sss',
              'longitude_degrees_east', 'latitude_degrees_north', 'bot_depth_m'], axis=1)
print(df3)

       depth_m  fluorescence_wet_labs_eco_afl_fl_mg_m_3  \
0        0.497                                      0.0
1        1.010                                      0.0
2        1.516                                      0.0
3        2.012                                      0.0
4        2.523                                      0.0
...        ...                                      ...
25098  298.000                                      0.0
25099  298.500                                      0.0
25100  299.000                                      0.0
25101  299.500                                      0.0
25102  300.000                                      0.0

       dissolved_oxygen_ml_l  temperature_deg_c  salinity_practical_psu  id
0                    6.88523             7.3546                 30.7609   0
1                    6.90105             7.2775                 30.6860   0
2                    6.90176             7.2760                 30.6708   0
3                    6.90315             7.2617                 30.6780   0
4                    6.90701             7.2311                 30.6943   0
...                      ...                ...                     ...  ..
25098                6.71186             7.7706                 33.2114  58
25099                6.71206             7.7694                 33.2115  58
25100                6.71197             7.7698                 33.2114  58
25101                6.71229             7.7673                 33.2123  58
25102                6.71302             7.7637                 33.2131  58

[25100 rows x 6 columns]

In [9]:
# Stackeamos las variables con llaves id y depth
df4 = df3.set_index(['id', 'depth_m'])
df4 = df4.stack().rename_axis(['id', 'depth_m', 'variable']).rename('value').reset_index()
print(df4)

        id  depth_m                                 variable     value
0        0    0.497  fluorescence_wet_labs_eco_afl_fl_mg_m_3   0.00000
1        0    0.497                    dissolved_oxygen_ml_l   6.88523
2        0    0.497                        temperature_deg_c   7.35460
3        0    0.497                   salinity_practical_psu  30.76090
4        0    1.010  fluorescence_wet_labs_eco_afl_fl_mg_m_3   0.00000
...     ..      ...                                      ...       ...
100395  58  299.500                   salinity_practical_psu  33.21230
100396  58  300.000  fluorescence_wet_labs_eco_afl_fl_mg_m_3   0.00000
100397  58  300.000                    dissolved_oxygen_ml_l   6.71302
100398  58  300.000                        temperature_deg_c   7.76370
100399  58  300.000                   salinity_practical_psu  33.21310

[100400 rows x 4 columns]

In [10]:
# Obtenemos los datos de cruseros por año
print(df['cruise'].value_counts())
print('El crusero de 2018 tiene mas datos')

Crucero 2018    9830
Crucero 2016    7774
Crucero 2017    7496
Name: cruise, dtype: int64
El crusero de 2018 tiene mas datos

In [14]:
# Obtenemos los datos de las horas agrupandolas
f = df
f['time'] = df['yyyy_mm_ddthh_mm_ss_sss'].dt.strftime('%H')
print(f['time'].value_counts())
print(' Las 22 horas poseen la mayor cantidad de datos')

22    2789
14    2199
20    2156
12    1991
21    1691
17    1505
02    1325
16    1277
23    1248
08    1218
03    1156
09    1099
06     967
04     731
13     690
11     537
19     534
10     404
07     400
01     394
00     346
05     226
15     217
Name: time, dtype: int64
 La hora con mayor cantidad de datos es 14:51:00

In [15]:
# Obtenemos variables segun rango de profundidad.
print('El promedio de las variables por profundidad es: ')
print(df3.groupby(pd.cut(df3["depth_m"], np.arange(0, 500, 10))).mean().drop('id', axis=1))

El promedio de las variables por profundidad es:
               depth_m  fluorescence_wet_labs_eco_afl_fl_mg_m_3  \
depth_m
(0, 10]       5.188698                                 0.000876
(10, 20]     15.136645                                 0.005172
(20, 30]     25.165145                                 0.000000
(30, 40]     35.193853                                 0.000000
(40, 50]     45.222678                                 0.000000
(50, 60]     55.155023                                 0.000000
(60, 70]     65.122051                                 0.000000
(70, 80]     75.151827                                 0.000000
(80, 90]     85.181785                                 0.000000
(90, 100]    95.211847                                 0.000000
(100, 110]  105.118456                                 0.000000
(110, 120]  115.039443                                 0.000000
(120, 130]  125.106330                                 0.000000
(130, 140]  135.165258                                 0.000000
(140, 150]  145.156709                                 0.000000
(150, 160]  155.146849                                 0.000000
(160, 170]  165.090151                                 0.000000
(170, 180]  175.065470                                 0.000000
(180, 190]  185.108701                                 0.000000
(190, 200]  195.115835                                 0.000000
(200, 210]  204.893368                                 0.000000
(210, 220]  215.112984                                 0.000000
(220, 230]  225.101913                                 0.000000
(230, 240]  235.075526                                 0.000000
(240, 250]  245.025682                                 0.000000
(250, 260]  255.085305                                 0.000000
(260, 270]  264.960159                                 0.000000
(270, 280]  275.182285                                 0.000000
(280, 290]  285.203505                                 0.000000
(290, 300]  295.224215                                 0.000000
(300, 310]  305.002989                                 0.000000
(310, 320]  315.126357                                 0.000000
(320, 330]  325.159172                                 0.000000
(330, 340]  334.791669                                 0.000000
(340, 350]  345.229300                                 0.000000
(350, 360]  355.202424                                 0.000000
(360, 370]  365.171610                                 0.000000
(370, 380]  374.962741                                 0.000000
(380, 390]  385.048629                                 0.000000
(390, 400]  394.886946                                 0.000000
(400, 410]  405.250000                                 0.000000
(410, 420]  415.023810                                 0.000000
(420, 430]  425.250000                                 0.000000
(430, 440]  435.250000                                 0.000000
(440, 450]  445.250000                                 0.000000
(450, 460]  455.250000                                 0.000000
(460, 470]  465.250000                                 0.000000
(470, 480]  475.250000                                 0.000000
(480, 490]  485.250000                                 0.000000

            dissolved_oxygen_ml_l  temperature_deg_c  salinity_practical_psu
depth_m
(0, 10]                  7.089759           6.076352               30.877987
(10, 20]                 7.059245           6.197621               31.081131
(20, 30]                 7.039193           6.287326               31.184612
(30, 40]                 7.016051           6.392231               31.306129
(40, 50]                 6.977364           6.571705               31.510242
(50, 60]                 6.931490           6.797522               31.718105
(60, 70]                 6.877127           7.078846               31.934342
(70, 80]                 6.828360           7.342476               32.105839
(80, 90]                 6.795907           7.517303               32.228044
(90, 100]                6.767914           7.669285               32.337273
(100, 110]               6.744323           7.798530               32.429897
(110, 120]               6.724557           7.898819               32.534128
(120, 130]               6.719895           7.914154               32.589680
(130, 140]               6.713521           7.940041               32.644606
(140, 150]               6.707450           7.962494               32.702859
(150, 160]               6.700049           7.998137               32.746583
(160, 170]               6.696120           8.012236               32.785773
(170, 180]               6.696699           8.004425               32.798929
(180, 190]               6.694630           8.010926               32.822626
(190, 200]               6.691360           8.026056               32.842782
(200, 210]               6.683203           8.069187               32.876242
(210, 220]               6.672218           8.122129               32.939521
(220, 230]               6.665433           8.153026               32.982083
(230, 240]               6.660896           8.175301               33.007125
(240, 250]               6.643023           8.269508               33.086118
(250, 260]               6.634211           8.328772               33.086065
(260, 270]               6.641940           8.279218               33.080165
(270, 280]               6.652052           8.214652               33.070314
(280, 290]               6.653384           8.204394               33.074620
(290, 300]               6.653491           8.202474               33.078711
(300, 310]               6.640803           8.281662               33.096176
(310, 320]               6.617244           8.400401               33.218523
(320, 330]               6.618216           8.397096               33.207165
(330, 340]               6.616504           8.402996               33.227086
(340, 350]               6.616155           8.405354               33.227750
(350, 360]               6.617205           8.398486               33.227349
(360, 370]               6.619827           8.380959               33.227635
(370, 380]               6.630702           8.307898               33.227109
(380, 390]               6.659757           8.113816               33.220408
(390, 400]               6.666321           8.072498               33.211316
(400, 410]               6.675050           8.024955               33.175225
(410, 420]               6.653886           8.182395               33.116548
(420, 430]               6.654591           8.178865               33.111970
(430, 440]               6.655917           8.169470               33.113950
(440, 450]               6.656092           8.167970               33.115160
(450, 460]               6.656213           8.166950               33.115850
(460, 470]               6.656798           8.162560               33.117560
(470, 480]               6.657232           8.159085               33.119520
(480, 490]               6.657725           8.155715               33.119825

In [16]:
# Obtenemos variables segun año a traves de agrupar por crusero.
X = df.groupby(df['cruise']).mean()
print('El promedio de las variables por años es: ')
print(X[['fluorescence_wet_labs_eco_afl_fl_mg_m_3', 'dissolved_oxygen_ml_l',
         'temperature_deg_c', 'salinity_practical_psu']])

El promedio de las variables por años es:
              fluorescence_wet_labs_eco_afl_fl_mg_m_3  dissolved_oxygen_ml_l  \
cruise
Crucero 2016                                 0.000129               6.803122
Crucero 2017                                 0.000000               6.782033
Crucero 2018                                 0.000610               6.822331

              temperature_deg_c  salinity_practical_psu
cruise
Crucero 2016           7.425740               32.385250
Crucero 2017           7.651004               32.161600
Crucero 2018           7.362178               32.247831